.input-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 5px 10px 5px;
    gap: 15px;
}

.input-row input {
    flex: 2 1 200px;
    width: 100%;
    min-width: 170px;
    border-radius: 5px;
    border: 2px solid rgb(0 140 255);
    font-size: 20px;
    padding: 3px 5px 3px 5px;
    transition: box-shadow 1s ease, transform .5s ease;
}

.input-row input:hover {
    box-shadow: 0px 0px 15px white;
    transform: scale(1.03);
}

/* Поле input не активное */
.input-row input:disabled {
    transform: scale(1);
    box-shadow: 0px 0px 15px rgb(0 140 255);
    border: 2px solid rgb(126, 125, 125);
    background-color: #eee;
    color: #888;
    cursor: not-allowed;
}

/* -----Button--------------------------------------------------------- */
.input-row .button {
    flex: 1 0 auto;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: black;
    border-radius: 5px;
    border: 1px solid rgb(252, 249, 249);
    padding: 4px 0px 4px;
    background: rgba(0, 128, 255, 0.5);
    overflow: hidden;
    transition: all .3s ease;
}

/* Стили кнопка не активна */
.input-row .notActive:disabled {
    flex: 1 0 auto;
    font-size: 20px;
    font-weight: 600;
    color: #888;
    border-radius: 5px;
    border: 1px solid rgb(126, 125, 125);
    box-shadow: 0px 0px 15px rgb(0 140 255);
    background: #eee;
    cursor: not-allowed;
    transform: scale(1);
    padding: 4px 10px 4px;
}

.input-row .button::before,
.input-row .button::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 30%;
    width: 600px;
    height: 600px;
    transform: translate(-50%, 0);
    border-radius: 40%;
    transition: all 0.7s;
}

.input-row .button::before {
    box-shadow: inset 0 0 6vw rgb(145 242 255 / 80%);
    background: radial-gradient(circle, rgba(220, 235, 245, 1) 0%,
            rgba(107, 178, 207, 0.8) 50%,
            rgb(0 140 255) 100%);
    left: 55%;
    bottom: 75%;
    animation: rotate 10s linear infinite;
}

.input-row .button::after {
    box-shadow: inset 0 0 6vw rgb(106 212 226 / 80%);
    background: rgb(0 227 255 / 60%);
    left: 45%;
    bottom: 80%;
    animation: rotate 10s linear infinite;
}

/* При наведении на кнопку */
.input-row .button:hover {
    box-shadow: 0px 0px 15px white;
    transform: scale(1.05);
}

/* При наведении */
.button:hover::before,
.button:hover::after {
    bottom: 200%;
}

.button .shadow {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 200px;
    transform: translateY(-50%);
    box-shadow: inset 0 0 3vw rgb(0 142 198 / 81%);
}

.input-row .button span {
    /* поднять текст над элементами */
    position: relative;
    z-index: 1;
    color: white;
    opacity: 0.5;
    text-shadow: 0 1px 2px #000;
    transition: all 0.3s;
    margin: 0px 10px;
}

.input-row .button:hover span {
    opacity: 1;
    text-shadow: 0 1px 3px #000;
}

/* -----Timer--------------------------------------------- */
.timer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 5px 10px 5px;
}

.timer .field {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgb(168, 163, 163);
    min-width: 50px;
    border-radius: 10px;
    border: 1px solid rgb(255, 254, 254);
    background: radial-gradient(circle, rgba(220, 235, 245, 1) 0%,
            rgba(107, 178, 207, 0.8) 50%,
            rgb(0 140 255) 100%);
    padding: 15px;
    margin: 10px;
    transition: all .3s ease;
}

.timer .field .label {
    font-size: 16px;
}

.timer .field:hover {
    box-shadow: 0px 0px 15px white;
    transform: scale(1.05);
}

.timer .field .label {
    text-transform: uppercase;
}

/* ---------------------------------------------------- */
@keyframes rotate {
    from {
        transform: translate(-50%, 0) rotate(0deg);
    }

    to {
        transform: translate(-50%, 0) rotate(-360deg);
    }
}