.input-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 5px 10px 5px;
    gap: 15px;
}

.input-row input {
    flex: 2;
    width: 100%;
    min-width: 170px;
    border-radius: 5px;
    border: 2px solid rgb(70, 70, 70);
    font-size: 20px;
    padding: 3px 5px 3px 5px;
    transition: box-shadow 1s ease, transform .5s ease;
}

.input-row input:hover {
    box-shadow: 0px 0px 15px white;
    transform: scale(1.03);
}

/* Поле input не активное */
.input-row input:disabled {
    transform: scale(1);
    box-shadow: 0px 0px 15px rgb(238, 23, 23);
    background-color: #eee;
    color: #888;
    cursor: not-allowed;
    /* отключает наведение */
    /* pointer-events: none; */
}

/* -----Button--------------------------------------------------------- */
.input-row .btnStandart {
    flex: 1;
    font-size: 20px;
    font-weight: 600;
    color: black;
    border-radius: 5px;
    border: 1px solid rgb(126, 125, 125);
    padding: 4px 10px 4px 10px;
    background-color: aquamarine;
    transition: all .3s ease;
}

.input-row .btnStandart:hover {
    background-color: rgb(82, 238, 147);
    box-shadow: 0px 0px 15px white;
    transform: scale(1.05);
}

/* Стили кнопка не активна */
.input-row .btnStandart:disabled {
    transform: scale(1);
    box-shadow: 0px 0px 15px rgb(238, 23, 23);
    background-color: #eee;
    color: #888;
    cursor: not-allowed;
}

/* -----Timer--------------------------------------------- */
.timer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 5px 10px 5px;
}

.timer .field {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgb(168, 163, 163);
    min-width: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: aquamarine;
    padding: 15px;
    margin: 10px;
    transition: all .3s ease;
}

.timer .field .label {
    font-size: 16px;
}

.timer .field:hover {
    box-shadow: 0px 0px 15px white;
    transform: scale(1.05);
}

.timer .field .label {
    text-transform: uppercase;
}